@model Form.Examples.Models.ExampleThreeViewModel

@{
    ViewBag.Title = "Example Three";
}

<h2>Import file by Model</h2>
<!--It is very important to set the enctype to "multipart/form-data" to be able to read the file from the controller-->
@using (Html.BeginForm("ExampleThree","Examples", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Import a file in a folder inside the solution using a Model.</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.File, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.File, new { type="File", @class="form-control"})
                @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>